/*Index
	1.General
	2.Top Elements
	3.Center Elements
	4.Footer Elements
	5.Responsive Elements
*/

/* 1.General */

hr {
	height: 3px;
	background-color: #7d97ad;
}

/*  2.TOP OF WEBSITE */
header {
	width: auto;
}

header p {
	text-align: right;
	font-family: Raleway; 
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	color: #2d3c49;
}

.mk-pp {
	border-radius: 50%;
	width: 130px;
	height: 130px;
}

#mk-name {
	font-size: 50px;
}

#mk-job {
	font-size: 18px;
}


/* 3.CENTER OF WEBSITE */

#mk-featured {
	font:30px normal Raleway;
	color: #7d97ad;
}

.mk-content img {
	max-width: 100%;
}

/* 4.FOOTER OF WEBSITE */

footer h3 {
	color: #2d3c49;
	font-size: 20px;
}

.mk-square { 
	height: 200px;
}

div.mk-square {
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

.mk-square img {
	max-width: 100%;
    max-height: 100%;
}

/* 5.Responsive Elements Changed with bootstrap

@media only screen and (max-width: 600px) {
  .mk-square {
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  .mk-square {
    width: 45%;
  }
}

@media screen and (min-width: 992px) {
  .mk-square {
    width: 30%;
  }
}*/