.first-div{
    background: #28bab2;
    background: -webkit-linear-gradient(left top, #c9db78, #f7f85c, #b7dc7c, #72e041,#5cc72b);
    background: -o-linear-gradient(bottom right, #c9db78, #f7f85c, #b7dc7c, #72e041,#5cc72b);
    background: -moz-linear-gradient(bottom right, #c9db78, #f7f85c, #b7dc7c, #72e041,#5cc72b);
    background: linear-gradient( to bottom right, #c9db78, #f7f85c, #b7dc7c, #72e041,#5cc72b);
    color: #36006f;
    box-shadow: 10px 10px grey;
    border-style: solid;
    width: 300px;
    padding: 10px;
    text-align: center;
}

.second-div{
    padding: 10px;
    border-style: solid;
    text-align: left;
}

.fact{
    font-style: italic;
}

.bolded-span{
   font-weight: bold;
}

.photo{
    border-style: dotted;
    border-color: white;
}

.list-element{
    list-style-type: none;
}